{{#if no_encontrado}}
	<div class="resultado-mensaje no-encontrado">
		No se ha encontrado personal con DNI: "{{dni}}"
	</div>
{{else}}
	{{#if registro_existente}}
	<div class="resultado-mensaje encontrado-existente">
		<b>REGISTRO EXISTENTE:  <i>{{hora}}</i></b>
	</div>
	{{else}}
	<div class="resultado-mensaje encontrado">
		<b>REGISTRO GUARDADO:  <i>{{hora}}</i></b>
	</div>
	{{/if}}
	<ul class="table-view" style="padding-bottom: 20px;">
		<li class="table-view-row">
			<div>Nombres: </div>
			<div>{{dni}} - {{nombres_apellidos}}</div>
		</li>   
		<li class="table-view-row">
			<div>Labor: </div>
			<div>{{labor}}</div>
		</li>  
	</ul>
{{/if}}
